@model IEnumerable<CustomerResponseModel>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Customer Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.FirstName</td>
                <td>@customer.LastName</td>
                <td>@customer.Gender</td>
                <td>@customer.Phone</td>
                <td>
                    <a href="@Url.Action("Update", "Customer", new { id = customer.CustomerId })" class="btn btn-primary">Update</a>
                    <a href="@Url.Action("Delete", "Customer", new { id = customer.CustomerId })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
